#outer {
    background-color: gray;
    height: 400px;
    width: 401px;
    border: 1px solid gray;
    margin: auto;
    margin-top: 110px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    background-color: deepskyblue;
    height: 120px;
    width: 120px;
    padding: 5px;
}